body{
    background-color: rgb(181, 197, 191);
    padding-left: 20px;
    text-align: center;
}
.jumbotron{
    margin-top: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}


table, th, td {
    border: 2px solid black;
}

th, td {
    padding: 10px;
    height: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

#totalTable{
    width: 50%;
  margin: 10px;
  margin-left: 25%;
}

input[type=number]{
width: 60px;
}

div.usersList {
    text-align: center;
    background-color: rgb(238, 163, 163);
  width: 75%;
  border: 5px solid rgb(238, 163, 163);
  border-radius: 5px;
  padding: 25px;
  margin: 10px;
  margin-left: 200px;
}

div.customer {
    background-color: rgb(202, 177, 177);
  width: 100%;
  border: 1px solid rgb(2, 2, 2);
  border-radius: 10px;
  padding: 25px;
  margin: 10px;
}

#mainMenu {
    background-color: rgb(248, 201, 201);
  width: 100%;
  border: 3px solid rgb(2, 2, 2);
  border-radius: 3px;
  padding: 25px;
  margin-left: 190px;
  
  margin-bottom: 100px;
}

#customer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}